<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">Soundbox</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Willkommen bei der Soundbox. Einem einfachen, open-source RFID Player. Minimalistisches Design und 
        einfache Handhabung, bei der Bündelung essentieller Funktionen.
      </p>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="../images/heroSoundbox.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>