[Unit]
Description=soundbox-autostart Service
After=multi-user.target

[Service]
User=pi
Restart=always
Type=idle
ExecStart=/usr/bin/bash /usr/local/bin/soundbox-autostart.sh
Nice=15

[Install]
WantedBy=multi-user.target
