[Unit]
Description=Soundbox Service
After=network.target

[Service]
Restart=always
ExecStart=/usr/local/bin/soundbox-autostart.sh
Nice=15

[Install]
WantedBy=default.target
