[Unit]
Description=Soundbox Service
After=network.target iptables.service firewalld.service

[Service]
Restart=always
WorkingDirectory=/home/pi/Sound-Box
ExecStart=/home/pi/Sound-Box/sound-box/misc/scripts/run/start
Nice=15

[Install]
WantedBy=default.target
